.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.dropdown-header {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    width: 200px;
}

.dropdown-caret {
    font-size: 14px;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 5px 0;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-container .dropdown-options.open {
    display: block;
}

.dropdown-option {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
    background-color: white;
    border: none;
    width: 100%;
    text-align: left;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}

.dropdown-checkbox {
    margin-right: 8px;
}

.dropdown-option.selected {
    background-color: #ddd;
}